<footer class="footer">
  <div class="footer__inner">
    <div class="copyright">
      <span>© {{ now.Year }} Felipe Alcantara</span>
    </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
